@import "./mixin.scss";

.DemoQuestion {
  border-right: 2px solid #ccc;
  @include layout();
  &Map {
    @include Map();
  }
  &Nav {
    @include Nav();
  }

  &List {
    @include List();
  }

  &Options {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    background-color: #ECEFF1;

    input,
    label {
      cursor: pointer;
      &:disabled {
        cursor: not-allowed;
      }
    }
    label {
      margin-right: 16px;
    }
    label:last-child {
      margin-right: 0;
    }

    dt {
      color: #263238;
      font-weight: bold;
    }
    dd {
      color: #37474F;
      margin-left: 0;
    }
  }
  &Gross {
    @include Gross();
  }
  &Button {
    @include Button();
  }
}