@charset "UTF-8";
.DemoAnswer {
  width: 50vw;
  box-sizing: border-box; }
  .DemoAnswer h2 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    background-color: #fff;
    color: #7fbc39;
    box-sizing: border-box;
    padding: 8px;
    margin: 0; }
  .DemoAnswerMain {
    display: flex; }
  .DemoAnswerMap {
    width: 36vw;
    height: 100%; }
    .DemoAnswerMapArea {
      position: relative;
      height: calc(100vh - 84px - 65px); }
  .DemoAnswerNavArea {
    width: 100%;
    background-color: #FAFAFA;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; }
  .DemoAnswerList ul {
    list-style-type: none; }
  .DemoAnswerListDeparture::after {
    background-color: #fafafa;
    text-align: center;
    color: #5C6BC0;
    display: block;
    content: "⬇︎";
    margin: 0 -8px;
    line-height: 1.2; }
  .DemoAnswerListDeparture, .DemoAnswerListArival {
    text-align: center;
    font-size: 16px;
    margin: 0 0 1px;
    color: #fff;
    padding: 0 8px;
    background-color: #f75c50;
    line-height: 2; }
  .DemoAnswerListRoutes {
    margin: 0;
    padding: 0; }
    .DemoAnswerListRoutes li {
      text-align: center;
      font-size: 16px;
      color: #fff;
      border-bottom: 1px solid #fff;
      padding: 0 8px;
      line-height: 2; }
  .DemoAnswerListNotSorted {
    background-color: #7ac23a; }
  .DemoAnswerListSorted {
    background-color: #6991fd; }
    .DemoAnswerListSorted::after {
      background-color: #fafafa;
      text-align: center;
      color: #5C6BC0;
      display: block;
      content: '⬇︎';
      margin: 0 -8px;
      line-height: 1.2; }
  .DemoAnswerGross {
    position: relative; }
    .DemoAnswerGross p {
      margin: 0;
      position: absolute;
      bottom: 0;
      padding: 16px;
      border-radius: 0 4px 0 0;
      opacity: .9;
      background-color: #FFC107;
      width: 480px;
      text-align: center;
      font-size: 16px; }
      .DemoAnswerGross p span {
        font-size: 32px; }
  .DemoAnswerButton {
    cursor: pointer;
    outline: none;
    margin: 24px auto;
    border: none;
    border-radius: 2px;
    padding: 16px;
    font-size: 16px;
    width: 240px;
    color: #fff;
    background-color: #90A4AE;
    transition: .3s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
    .DemoAnswerButton:hover, .DemoAnswerButton:focus {
      background: #738c98; }
    .DemoAnswerButton:active {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
    .DemoAnswerButton:disabled {
      cursor: not-allowed;
      box-shadow: none;
      color: rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.2); }
  .DemoAnswerMark {
    text-align: center;
    padding: 0 16px;
    font-weight: bold;
    font-size: 80px;
    color: #FB8C00;
    height: 196px;
    line-height: 196px; }
