@charset "UTF-8";
.DemoAnswer {
  width: 50vw;
  box-sizing: border-box; }
  .DemoAnswer h2 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    background-color: #fff;
    color: #7fbc39;
    box-sizing: border-box;
    line-height: 32px;
    margin: 0; }
  .DemoAnswerMain {
    display: flex; }
  .DemoAnswerMap {
    width: 34vw;
    height: 100%; }
    .DemoAnswerMapArea {
      position: relative;
      height: calc(100vh - 72px); }
  .DemoAnswerNavArea {
    overflow: scroll;
    width: 100%;
    height: calc(100vh - 72px);
    background-color: #eee;
    text-align: left;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 8px; }
  .DemoAnswerList ul {
    list-style-type: none; }
  .DemoAnswerListDeparture::after {
    background-color: #eee;
    text-align: center;
    color: #5c6bc0;
    display: block;
    content: '⬇︎';
    margin: 0 -8px;
    line-height: 1.2; }
  .DemoAnswerListDeparture, .DemoAnswerListArrival {
    margin: 0;
    padding: 0; }
    .DemoAnswerListDeparture li, .DemoAnswerListArrival li {
      text-align: center;
      font-size: 16px;
      color: #fff;
      padding: 0 8px;
      background-color: #f75c50;
      line-height: 2;
      position: relative; }
      .DemoAnswerListDeparture li span, .DemoAnswerListArrival li span {
        position: absolute;
        left: 8px; }
  .DemoAnswerListRoutes {
    margin: 0;
    padding: 0; }
    .DemoAnswerListRoutes li {
      text-align: center;
      font-size: 16px;
      border-bottom: 1px solid #eee;
      padding: 0 8px;
      line-height: 2;
      position: relative; }
      .DemoAnswerListRoutes li span {
        position: absolute;
        left: 8px; }
  .DemoAnswerListNotSorted {
    color: #fff;
    background-color: #7ac23a; }
  .DemoAnswerListSorted {
    color: #fff;
    background-color: #6991fd; }
    .DemoAnswerListSorted::after {
      background-color: #eee;
      text-align: center;
      color: #5c6bc0;
      display: block;
      content: '⬇︎';
      margin: 0 -8px;
      line-height: 1.2; }
  .DemoAnswerListMistake {
    background-color: #ffcdd2;
    color: #b71c1c; }
  .DemoAnswerGross {
    position: relative; }
    .DemoAnswerGross p {
      margin: 0;
      position: absolute;
      bottom: 32px;
      padding: 8px;
      border-radius: 0 4px 0 0;
      opacity: 0.8;
      background-color: #ffc107;
      max-width: 320px;
      width: 100%;
      text-align: center;
      font-size: 14px; }
      .DemoAnswerGross p span {
        font-size: 22px; }
  .DemoAnswerButton {
    cursor: pointer;
    outline: none;
    margin: 24px auto;
    border: none;
    border-radius: 2px;
    padding: 16px;
    font-size: 16px;
    max-width: 240px;
    width: 100%;
    color: #fff;
    background-color: #90a4ae;
    transition: 0.3s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); }
    .DemoAnswerButton:hover, .DemoAnswerButton:focus {
      background: #738c98; }
    .DemoAnswerButton:active {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28); }
    .DemoAnswerButton:disabled {
      cursor: not-allowed;
      box-shadow: none;
      color: rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.2); }
  .DemoAnswerMark {
    display: flex;
    align-items: center;
    /* 縦方向の中央揃え */
    justify-content: center;
    /* 横方向の中央揃え */
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 16px;
    font-weight: bold;
    font-size: 72px;
    color: #263238;
    height: 240px;
    margin-bottom: 8px; }
    .DemoAnswerMark span {
      font-size: 40px; }
