@import "./mixin.scss";

.DemoAnswer {
  @include layout();
  &Map {
    @include Map();
  }
  &Nav {
    @include Nav();
  }
  &List {
    @include List();
  }
  &Gross {
    @include Gross();
  }
  &Button {
    @include Button();
  }
  &Mark {
    text-align: center;
    padding: 0 16px;
    font-weight: bold;
    font-size: 80px;
    color: #e53935;
    line-height: 179px;
  }
}