.Demo {
  font-family: "SF Pro JP","SF Pro Display","SF Pro Icons","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.DemoHeader {
  margin: 0;
  padding: 8px;
  text-align: center;
  background-color: #7fbc39;
  color: #fff;
  h1 {
    font-size: 24px;
  }
}

.DemoMain {
  display: flex;
}
