@import "./mixin.scss";

.DemoAnswer {
  @include layout();
  &Map {
    @include Map();
  }
  &Nav {
    @include Nav();
  }
  &List {
    @include List();
  }
  &Gross {
    @include Gross();
  }
  &Button {
    @include Button();
  }
  &Mark {
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    box-sizing: border-box;
    padding: 0 16px;
    font-weight: bold;
    font-size: 72px;
    color: #263238;
    height: 240px;
    margin-bottom: 8px;
  }
}