.Demo {

}

.DemoHeader {
  margin: 0;
  padding: 8px;
  text-align: center;
  background-color: #000;
  color: #fff;
  h1 {
    font-size: 24px;
  }
}

.DemoMain {
  display: flex;
}

.DemoQuestion {
  width: 50vw;
  box-sizing: border-box;

  h2 {
    text-align: center;
    background-color: #ccc;
    padding: 8px;
    margin: 0;
  }
  &Main {
    display: flex;
  }
  &Map {
    width: 32vw;
    height: calc(100vh - 84.16px - 52px );
    &Area {
      position: relative;
    }
  }
  &Nav {
    &Area {
      width: 100%;
      background-color: #FAFAFA;
      text-align: left;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }

  &List {
    ul {
      list-style-type: none;
    }
    &Departure {
      &::after {
        background-color: #fafafa;
        text-align: center;
        color: #5C6BC0;
        display: block;
        content: "⬇︎";
        margin: 0 -8px;
        line-height: 1.2;
      }
    }

    &Departure,
    &Arival {
      text-align: center;
      font-size: 16px;
      margin: 0 0 1px;
      color: #fff;
      padding: 0 8px;
      background-color: #f75c50;
      line-height: 2;
    }

    &Routes {
      margin: 0;
      padding: 0;
      li {
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding: 0 8px;
        line-height: 2;
      }
    }

    &NotSorted {
      background-color: #7ac23a;
    }
    &Sorted {
      background-color: #6991fd;
      &::after {
        background-color: #fafafa;
        text-align: center;
        color: #5C6BC0;
        display: block;
        content: '⬇︎';
        margin: 0 -8px;
        line-height: 1.2;
      }
    }
    
  }

  &Options {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 16px;
    padding: 8px;
    border-top: 2px solid #424242;
    border-bottom: 2px solid #424242;

    input,
    label {
      cursor: pointer;
    }
    label {
      margin-right: 16px;
    }
    label:last-child {
      margin-right: 0;
    }

    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 0;
    }
  }

  &Gross {
    position: absolute;
    bottom: 0;
    padding: 16px;
    border-radius: 0 4px 0 0;
    opacity: .9;
    background-color: orange;
    width: 360px;
    text-align: center;

    p {
      margin: 0;
      span {
        font-size: 24px;
      }
    }
  }

  &Button {
    cursor: pointer;
    margin: 24px auto;
    border: none;
    border-radius: 2px;
    padding: 8px;
    font-size: 16px;
    width: 160px;
    color: #fff;
    background-color: #90A4AE;
  }
}

.DemoDescription {
  width: 50vw;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &Button {
    cursor: pointer;
    margin-top: 40px;
    border: none;
    border-radius: 2px;
    padding: 32px 16px;
    font-size: 24px;
    width: 320px;
    color: #fff;
    background-color: #1E88E5; 
  }
}
