@import "./mixin.scss";

.DemoQuestion {
  @include layout();
  &Map {
    @include Map();
  }
  &Nav {
    @include Nav();
  }

  &List {
    @include List();
  }

  &Options {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto 16px;
    padding: 8px;
    border-top: 2px solid #424242;
    border-bottom: 2px solid #424242;

    input,
    label {
      cursor: pointer;
    }
    label {
      margin-right: 16px;
    }
    label:last-child {
      margin-right: 0;
    }

    dt {
      font-weight: bold;
    }
    dd {
      margin-left: 0;
    }
  }
  &Gross {
    @include Gross();
  }
  &Button {
    @include Button();
  }
}